<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
	<div class="container">
		<h1>Ask</h1>
		<p class="lead">You've got a problem? Get an answer by filling out this form.</p>
	</div>
</header>

<!-- Begin page content -->
<div class="container">
	<div id="push"></div>
	<section class="well">
		<form class="form-horizontal" ng-submit="addQuestion()">
			<fieldset>
				<legend>What is your Question ?</legend>
				<div class="control-group">
					<label class="control-label" for="title">Title </label>
					<div class="controls">
						<input type="text" ng-model="newQuestion.title" name="title" id="title" class="input-xxlarge" placeholder="Title of your question" required /> <span class="text-error"> {{formInfo.title}}</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="text"></label>
					<div class="controls">
						<textarea ng-model="newQuestion.text" id="text" class="input-xxlarge" rows="3" placeholder="Describe your problem" required ></textarea> <span class="text-error"> {{formInfo.text}}</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="title">Tags </label>
					<div class="controls">
						<input type="text" ng-model="tags" name="tags" id="tags" class="input-xxlarge" placeholder="Related tags"/>
					</div>
				</div>
				<div class="form-actions">
					<button class="btn btn-primary" type="submit">Post Your Question <i class="icon-white icon-ok-sign"></i></button>
					<button class="btn">Cancel</button>
				</div>
			</fieldset>
		</form>
	</section>
</div>