<!-- Subhead
================================================== -->
<header class="jumbotron masterhead" id="overview">
	<div class="container">
		<h1>{{title}}</h1>
		<p class="lead">{{text}}</p>
	</div>
</header>

<!-- Begin page content -->
<!-- <div class="container"> -->
	<!-- <section>
		<div class="page-header">
			<h1>{{title}}</h1>
		</div> -->
		<!-- <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added within <code>#wrap</code> with <code>padding-top: 60px;</code> on the <code>.container</code>.</p> -->

		<!-- <p class="lead">{{text}}</p> -->

		<!-- <p>Back to <a href="./sticky-footer.html">the sticky footer</a> minus the navbar.</p> -->

<!-- 	</section>
</div> -->
