<!-- Subhead
================================================== -->
<header class="jumbotron masterhead" id="overview">
	<div class="container">
		<h1>Home</h1>
		<p class="lead">Overview of the project, its contents, and how to get started with a simple template.</p>
	</div>
</header>

<!-- Begin page content -->
<div class="container">
	<section>
		<div class="page-header">
			<h1>Sticky footer with fixed navbar</h1>
		</div>
		<!-- <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added within <code>#wrap</code> with <code>padding-top: 60px;</code> on the <code>.container</code>.</p> -->

		<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

		<!-- <p>Back to <a href="./sticky-footer.html">the sticky footer</a> minus the navbar.</p> -->

	</section>
</div>
