<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
	<div class="container">
		<h1>Log in</h1>
		<p class="lead">Log in here.</p>
	</div>
</header>

<!-- Begin page content -->
<div class="container">
	<section class="row">
		<div class="span5">
			<div class="well">
				<form class="form-horizontal" ng-submit="login.connect()">
					<fieldset>
						<legend>Log In</legend>
						<div class="control-group">
							<div id="loginInfo" class="hide"><p class="text-error">Wrong username or password</p></div>
						</div>
						<div class="control-group">
							<label class="control-label" for="pseudo">Username : </label>
							<div class="controls">
								<input type="text" ng-model="login.pseudo" name="origine" id="pseudo" class="input-medium" placeholder="Username" required />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="password">Password : </label>
							<div class="controls">
								<input type="password" ng-model="login.password" name="origine" id="password" class="input-medium" placeholder="Password" required />
							</div>
						</div>
						<div class="form-actions">
							<button class="btn btn-primary" type="submit">Log In <i class="icon-white icon-ok-sign"></i></button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
		<div class="span6 offset1">
			<div id="push"></div>
			<h3>Sign up</h3>
			<p>You do not already have an account? Sign up <a href="#/signin">here</a> !</p>
		</div>
	</section>
</div>