<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
	<div class="container">
		<h1>{{question.title}}</h1>
		<!-- <p class="lead">Details</p> -->
		<p align="right"><small><a href="#/questions/{{question.authorId}}">{{question.authorPseudo}}</a></small></p>
	</div>
</header>

<!-- Begin page content -->
<div class="container">
	<section class="row-fluid question">
		<!-- <h2>{{question.title}}</h2> -->
		
		<div class="span2 center">
			<form>
				<div class="btn-group" data-toggle="buttons-radio">
					<button class="btn" ng-click="addVote(question._id, 'questions', -1)"><span class="text-error">-{{getVotes(question.votes, 0)}}</span> <i class="icon-thumbs-down"></i></button>
					<button class="btn" ng-click="addVote(question._id, 'questions', 1)"><span class="text-success">+{{getVotes(question.votes, 1)}}</span> <i class="icon-thumbs-up"></i></button>
				</div>
			</form>
		</div>
		<div class="span10">
			<p>{{question.text}}</p>
		</div>
	</section>

	<section class="row">
		<article class="span11 offset1 answer-list" ng-repeat="answer in question.answers">
			<div class="row-fluid">
				<div class="span1 center">
					<!-- <span class="badge">{{answer.votes.length}}</span><br/>
					<p><small>Votes</small></p> -->
					<form>
						<a ng-click="addVote(answer._id, 'answers', 1)"><span class="text-success">+{{getVotes(answer.votes, 1)}}</span> <i class="icon-thumbs-up"></i></a></br>
						<a ng-click="addVote(answer._id, 'answers', -1)"><span class="text-error">-{{getVotes(answer.votes, 0)}}</span> <i class="icon-thumbs-down"></i></a>
					</form>
				</div>
				<div class="span11">
					<p align="right"><a href="#/questions/{{answer.authorId}}">{{answer.authorPseudo}}</a><p>
					<p>{{answer.text}}</p>
				</div>
			</div>
		</article>
	</section>

	<section class="well" ng-switch on="logged">
		<form ng-switch-when="true" class="form-horizontal" ng-submit="addAnswer(newAnswer)">
			<fieldset>
				<legend>Your Answer</legend>
					<div class="control-group">
						<label class="control-label" for="text"></label>
						<div class="controls">
							<textarea ng-model="newAnswer.text" id="textarea" class="input-xxlarge" rows="3" placeholder="Do you have the answer?" required ></textarea> <span class="text-error"> {{formInfo.text}}</span>
						</div>
					</div>
					<div class="form-actions">
						<button class="btn btn-primary" type="submit">Post Your Answer <i class="icon-white icon-ok-sign"></i></button>
						<button class="btn">Cancel</button>
					</div>
			</fieldset>
		</form>
		<div ng-switch-default class="control-group"><p>You need to <a href="#/login">log in</a> to answer</p></div>
	</section>
</div>
