<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
	<div class="container">
		<h1>Questions</h1>
		<p class="lead">All questions.</p>
	</div>
</header>

<!-- Begin page content -->
<div class="container">
	<section>
		<!--Body content-->
		<div class="page-header">
			<h1>Question List</h1>
		</div>

		<form class="form-search" align="right">
			<input type="text" ng-model="query" class="input-medium search-query" placeholder="Search">
		</form>

		<article class="row question-list" ng-repeat="question in getPagedQuestions() | filter:query | orderBy: '_id':true">
			<div class="span12">
				<div class="row-fluid">
					<div class="span2 counter">
						<div class="row-fluid">
							<div class="span4">
								<a href="#/questions/{{question._id}}">
									<div class="center">
										<span class="badge badge-standard">{{question.votes.length}}</span><br/>
										<p><small>Votes</small></p>
									</div>
								</a>
							</div>
							<div class="span4">
								<a href="#/questions/{{question._id}}">
									<div class="center">
										<span class="badge badge-info">{{question.answers.length}}</span><br/>
										<p><small>Réponses</small></p>
									</div>
								</a>
							</div>
							<div class="span4">
								<a href="#/questions/{{question._id}}">
									<div class="center">
										<span class="badge badge-standard">NA</span><br/>
										<p><small>Vues</small></p>
									</div>
								</a>
							</div>
						</div>
					</div>
					<div class="span10">
						<h5><a href="#/questions/{{question._id}}">{{question.title}}</a></h5>
						<div class="row-fluid">
							<div class="span9">
								<span ng-repeat="tag in question.tags"><a href="#"><span class="label">{{tag.tag}}</span></a> </span>
							</div>
							<div class="span3">
								<p align="right"><a href="#/users/{{question.authorId}}">{{question.authorPseudo}}</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</article>


		<!-- "ShowMore" Pagination -->
		<!-- <p ng-show="hasMoreQuestionsToShow()" ng-click="showMoreQuestions()" class="text-center"><a>Show more</a></p> -->

		<!-- Classic Pagination -->
		<div class="pagination" align="center">
			<ul>
				<li ng-class="{disabled: currentPage == 0}"><a href ng-click="setPage(0)">First</a></li>
				<li ng-class="{disabled: currentPage == 0}"><a href ng-click="prevPage()">&laquo;</a></li>
				<!-- <li ng-hide=""class="disabled"><a>...</a></li> -->
				<li ng-repeat="n in getDisplayedPages()" ng-class="{active: n == currentPage}" ng-click="setPage(n)"><a href ng-bind="n + 1">1</a></li>
				<li ng-class="{disabled: currentPage == getNumberOfPages()}"><a href ng-click="nextPage()">&raquo;</a></li>
				<li ng-class="{disabled: currentPage == getNumberOfPages()}"><a href ng-click="setPage(getNumberOfPages())">Last</a></li></li>
			</ul>
		</div>

	</section>
</div>

