<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
	<div class="container">
		<h1>Sign In</h1>
		<p class="lead">Be part of the community.</p>
	</div>
</header>

<!-- Begin page content -->
<div class="container">
	<div id="push"></div>
	<section class="well">
		<form class="form-horizontal" ng-submit="signin()">
			<fieldset>
				<legend>Sign in</legend>
				<div class="control-group">
					<label class="control-label" for="title">Username </label>
					<div class="controls">
						<input type="text" ng-model="sign.pseudo" name="username" id="pseudo" class="input-large" placeholder="username" required />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="password">Password : </label>
					<div class="controls">
						<input type="password" ng-model="sign.password" name="password" id="password" class="input-large" placeholder="Password" required />
					</div>
				</div>
				
				<div class="form-actions">
					<!-- <label class="checkbox">
						<input type="checkbox" ng-model="tos" required> J'accepte les conditions d'utilisation
					</label> -->
					<button class="btn btn-primary" type="submit">Sign in <i class="icon-white icon-ok-sign"></i></button>
					<button class="btn">Cancel</button>
				</div>
			</fieldset>
		</form>
	</section>
</div>