<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
	<div class="container">
		<h1>Tags</h1>
		<p class="lead">All questions by tags.</p>
	</div>
</header>

<!-- Begin page content -->
<div class="container">
	<section>
		<div class="page-header">
			<h1>Tag List</h1>
		</div>
		
		<p><span ng-repeat="tag in tags | orderBy: 'tag'">
			<a href="#/questions/tag/{{tag.tag}}" data-toggle="tooltip" title="{{tag.description}}"><span class="badge badge-info">{{tag.tag}}</span></a> 
		</span></p>
	</section>
</div>