<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
	<div class="container">
		<h1>Users</h1>
		<p class="lead">Details</p>
	</div>
</header>

<!-- Begin page content -->
<div class="container">
	<section>
		<div class="page-header">
			<h1>User Details</h1>
		</div>
		<p>Pseudo : {{user.pseudo}}</p>
		<p>Password : {{user.password}}</p> 
	</section>
</div>