<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
	<div class="container">
		<h1>Users</h1>
		<p class="lead">All informations you need about users.</p>
	</div>
</header>

<!-- Begin page content -->
<div class="container">
	<section>
		<div class="page-header">
			<h1>User List</h1>
		</div>
		
		<!--Body content-->
		<table class="table table-bordered table-striped table-condensed">
			<caption>
				<h4>Liste des utilisateurs</h4>
			</caption>
			<thead>
				<tr>
					<th class="table-text-center">#</th>
					<th class="table-text-center">Pseudo</th>
					<th class="table-text-center">Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in users">
					<td class="table-text-center">{{$index + 1}}</td>
					<td><a href="#/users/{{user._id}}">{{user.pseudo}}</a></td>
					<td class="table-text-center"><a ng-click ="deleteUser(user._id)"><i class="icon-black icon-remove-sign"></i></a></td>
				</tr>
			</tbody>
		</table>
	</section>
</div>