<!doctype html>
<html lang="fr" ng-app="huf">

<head>
	<meta charset="utf-8">

	<title>{{logged}} HeapUnderFlow app</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- CSS -->
	<link href="./css/bootstrap.css" rel="stylesheet">
	<link href="./css/huf.css" rel="stylesheet">
	<link href="./css/bootstrap-responsive.css" rel="stylesheet">
	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	<script src="./lib/html5shiv/html5shiv.js"></script>
	<![endif]-->

	<!-- Fav and touch icons -->
	<!-- <link rel="apple-touch-icon-precomposed" sizes="144x144" href="./img/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="./img/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="./img/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="./img/ico/apple-touch-icon-57-precomposed.png">
	<link rel="shortcut icon" href="./img/ico/favicon.png"> -->

</head>

<body ng-init="isLogged()">


	<!-- Part 1: Wrap all page content here -->
	<div id="wrap">

		<!-- Fixed navbar -->
		<div class="navbar navbar-fixed-top navbar-inverse">
			<div class="navbar-inner">
				<div class="container-fluid">
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="brand" href="#">Heap Underflow</a>
					<nav ng-controller="appCtrl" class="nav-collapse collapse navbar-responsive-collapse">
						<ul class="nav pull-left">
							<li class="divider-vertical"></li>
							<!-- Home -->
							<li ng-class="{active:isActive('/home')}">
								<a href="#/home">Home</a>
							</li>
							<li class="divider-vertical"></li>
							<!-- Questions -->
							<li ng-class="{active:isActive('/questions')}">
								<a href="#/questions">Questions</a>
							</li>
							<!-- Tags -->
							<li ng-class="{active:isActive('/tags')}">
								<a href="#/tags">Tags</a>
							</li>
							<!-- Users -->
							<li ng-class="{active:isActive('/users')}">
								<a href="#/users">Users</a>
							</li>
						</ul>

						<form class="navbar-search pull-right" ng-submit="clear()">
							<input id="search" type="text" class="search-query" placeholder="Search">
							<input type="submit" class="hide"/>
						</form>

						<ul ng-switch on="logged" class="nav pull-right">
							<!-- Ask -->
							<li ng-class="{active:isActive('/ask')}">
								<a href="#/ask">Ask</a>
							</li>
							<!-- <li class="divider-vertical"></li> -->
							<!-- Log In -->
							<li ng-switch-when="true" class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li class="nav-header">Profile</li>
									<li><a href="#">Settings</a></li>
									<li class="divider"></li>
									<li><a href="#/home" ng-click="logout()">Log out</a></li>
								</ul>
								</li>
							<li ng-switch-default ng-class="{active:isActive('/login')}">
								<a href="#/login">Log In</a>
							</li>
							<!-- <li class="divider-vertical"></li> -->
						</ul>

					</nav><!--/.nav-collapse -->
				</div>
			</div>
		</div>
		
		<div ng-view></div>
		<div id="push"></div>
		
	</div>

	<footer>
		<div class="container">
			<p class="muted credit">Heap Underflow Client by <a href="#">Soraya Bouakkaz</a>, <a href="#">Damien Deis</a>, <a href="#">C&eacute;cile Dispa</a> & <a href="#">Maxence Labusqui&egrave;re</a>.</p>
		</div>
	</footer>


	<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Title</h3>
		</div>
		<div class="modal-body">
			<p id="myModalText">Description</p>
		</div>
		<div id="myModalButton" class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			<button class="btn btn-primary">Ok</button>
		</div>
	</div>

	<div class="alert alert-error hide">  
		<a class="close" data-dismiss="alert">×</a>  
		<strong>Error!</strong>This is a fatal error.  
	</div>  
		<div class="alert alert-success hide">  
		<a class="close" data-dismiss="alert">×</a>  
		<strong>Success!</strong>You have successfully done it.  
	</div>  
	<div class="alert alert-info hide">  
		<a class="close" data-dismiss="alert">×</a>  
		<strong>Info!</strong>Watch this, but you may forget.  
	</div>  

	<!-- Le javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->

	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/angular-resource.js"></script>
	
	<script src="js/app.js"></script>
	<script src="js/appFunctions.js"></script>
	<!-- Controllers -->
	<script src="js/controllers/appController.js"></script>
	<script src="js/controllers/askController.js"></script>
	<script src="js/controllers/errorController.js"></script>
	<script src="js/controllers/loginController.js"></script>
	<script src="js/controllers/questionDetailController.js"></script>
	<script src="js/controllers/questionListController.js"></script>
	<script src="js/controllers/searchController.js"></script>
	<script src="js/controllers/signinController.js"></script>
	<script src="js/controllers/tagListController.js"></script>
	<script src="js/controllers/tagQuestionListController.js"></script>
	<script src="js/controllers/userDetailController.js"></script>
	<script src="js/controllers/userListController.js"></script>

	<!-- Services -->
	<script src="js/services/answerServices.js"></script>
	<script src="js/services/loginServices.js"></script>
	<script src="js/services/questionServices.js"></script>
	<script src="js/services/tagServices.js"></script>
	<script src="js/services/userServices.js"></script>
	<script src="js/services/voteServices.js"></script>

	<script src="./lib/jquery/jquery-1.9.1.js"></script>
	<script src="./lib/bootstrap/bootstrap.js"></script>

</body>
</html>
